body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #000000;
}

@font-face {
  font-family: "CustomFont";
  src: url("media/apfelFontV01.ttf") format("truetype");
}

.apfel-font h1 {
  font-family: "CustomFont", sans-serif;
}

.top-image-game {
  top: 50px;
  left: 50px;
}


.chatroom-container-container
{
  margin: 20px;
  background-color: #000000; 
  /* background-color: #a10000;  */
  border: 5px;
  border-color: #80fe80;
  border-style: groove;
}

.chatroom-container {
  font-family: Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 640px;
  height: 200px;
  color: #80fe80;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chatroom-container div {
  padding: 1px; 
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
}

#readme-links a {
  font-size: 10px;
  font-family: "CustomFont", sans-serif;
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: -20px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block; /* Add this line to create a line break for each <a> element */
  transition: opacity 0.5s, box-shadow 0.5s;
}



#game-links {
  font-size: 10px;
  font-family: "CustomFont", sans-serif;
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: -20px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

#game-links-big {
  font-size: 12px;
  font-family: "CustomFont", sans-serif;
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: -20px;
  line-height: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

.readme-text
{
  width: 640px;
  height: 100%;
}

#game-readme-title {
  font-size: 16px;
  font-family: "CustomFont", sans-serif;
  opacity: 1;
  line-height: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

#game-readme {
  font-size: 12px;
  font-family: "CustomFont", sans-serif;
  opacity: 0.7;
  line-height: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

#demo {
  font-family: "CustomFont", sans-serif; /* Replace "CustomFont" with your desired font */
  color: white;
  text-align: center;
  margin-bottom: -20px;
  line-height: 37px;;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mygamecanvas{
  width: 640px;
  height: 480px;
  border: 5px;
  border-color: #80fe80;
  border-style: groove;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  height: 100%;
}

.game-separator{
  height: 20px;
}

.text-game-separator{
  height: 10px;
}

.container img {
  margin-bottom: 20px;
}

#apfel-font{
  width: 900px;
	margin-bottom: -20px;
  line-height: 37px;;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-align: center;
}

#apfel-font a {
  color: white;
  text-decoration: none;
}

.separator
{
  height: 10px;
}

#apfel-font-alt-about {
  position: relative;
  opacity: 0.5;
  line-height: 30px;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

#apfel-font-alt-about p {
  position: absolute;
  top: 200px;
  right: -37px;
}

#apfel-font-alt {
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: -20px;
  line-height: 30px;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}


div#invisible
{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500px;
  width: 50%;
  opacity:0;
}

#audio-element {
  display: none;
}

#apfel-font-alt a {
  text-decoration: none;
}

#apfel-font-alt-about a {
  text-decoration: none;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  10% {
    transform: translate(-2px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  30% {
    transform: translate(-2px, 0) rotate(-1deg);
  }
  40% {
    transform: translate(2px, 0) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  70% {
    transform: translate(0, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(0, -2px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 0) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}


#apfel-font-alt:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
  animation: shake 2s ease-in-out infinite;
}

#apfel-font-alt-about:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
  animation: shake 2s ease-in-out infinite;
}

#game-links:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
  animation: shake 2s ease-in-out infinite;
}

#game-links-big:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
  animation: shake 2s ease-in-out infinite;
}

.secret {
  opacity: 0.01;
  transition: opacity 0.5s ease-in-out;
}

.secret:hover {
  opacity: 1;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-logo {
  opacity: 0.5;
  width: 90%;
  height: auto;
  transition: opacity 0.3s ease;
  margin: 0px -50px;
}



.image-logo:hover {
  opacity: 1;
  filter: drop-shadow(0 0 20px rgb(231, 144, 30)) brightness(100%);
  animation: glow 1s infinite alternate;
  animation: shake 2s ease-in-out infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px white) brightness(150%);
  }
  100% {
    filter: drop-shadow(0 0 20px white) brightness(150%);
  }
}



#apfel-font-bigger{
	font-size: 30px;
	margin-bottom: -30px;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-align: center;
}





/* TESTS */

/*INDEXXXXX*/

.image-container {
  position: relative;
}

:root {
  --offset: 40px; /*Trying to center this mf*/
  --offset-h: 0px; /*Trying to center this mf*/
}

/* BOOKSHELVES LAYERS */
.image-container img:not([alt="Logotype"]) {
  position: absolute;
  top: calc(50% - 300px + var(--offset)); /* Offset vertically by -480px */
  left: calc(50% - 395px + var(--offset-h)); /* Offset horizontally by -640px */
  transform: translateY(0);
  opacity: 1;
}

/* APFEL PROJECT LOGO */
.image-container img[alt="Logotype"] {
  position: absolute;
  top: calc(50% - 300px + var(--offset)); /* Offset vertically by -480px */
  left: calc(50% - 395px + var(--offset-h)); /* Offset horizontally by -640px */
  transform: translateY(0);
  opacity: 1;
}

/* I DON'T EVEN FUCKING KNOW MAN */
.image-container img:not([alt="Logotype"]) {
  animation: hoverAnimation 10s infinite alternate;
}

/* Calculate delay for each image */
.image-container img:nth-child(1) {
  animation-delay: 0.1s;
}
.image-container img:nth-child(2) {
  animation-delay: 2s;
}
.image-container img:nth-child(3) {
  animation-delay: 3s;
}
.image-container img:nth-child(4) {
  animation-delay: 1s;
}
.image-container img:nth-child(5) {
  animation-delay: 5s;
}
.image-container img:nth-child(6) {
  animation-delay: 6.2s;
}
.image-container img:nth-child(7) {
  animation-delay: 6s;
}

@keyframes hoverAnimation {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}



@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
      animation-timing-function: ease-in-out;
  }
  50% {
      transform: translateY(-20px);
      animation-timing-function: ease-in-out;
  }
}

@keyframes glow {
  0% {
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2));
  }
  50% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
  }
  100% {
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.2));
  }
}

.image-container img:nth-child(3) {
  animation: moveUpDown 10s infinite alternate, glow 3s infinite;
}


/*ABOUTTTTTT*/

/* style.css */
.about-image-container {
  position: relative;
  width: 800px; /* Adjust as needed */
  height: 800px; /* Adjust as needed */
}

.layer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the image takes up the entire container */
  height: 100%; /* Ensure the image takes up the entire container */
  object-fit: contain; /* Maintain aspect ratio without cropping */
  animation: hoverUpDown 10s infinite alternate ease-in-out;
}

.layer1 {
  animation-delay: 0s;
}

.layer2 {
  animation-delay: 0s;
}

.layer3 {
  animation-delay: 0s; /*Old shit idk*/
}

@keyframes hoverUpDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}