body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

@font-face {
  font-family: "CustomFont";
  src: url("media/apfelFontV01.ttf") format("truetype");
}

.apfel-font h1 {
  font-family: "CustomFont", sans-serif;
}

#game-links {
  font-size: 10px;
  font-family: "CustomFont", sans-serif;
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: -20px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

.readme-text
{
  width: 640px;
  height: 100%;
}

#game-readme-title {
  font-size: 16px;
  font-family: "CustomFont", sans-serif;
  opacity: 1;
  line-height: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

#game-readme {
  font-size: 12px;
  font-family: "CustomFont", sans-serif;
  opacity: 0.7;
  line-height: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

#demo {
  font-family: "CustomFont", sans-serif; /* Replace "CustomFont" with your desired font */
  color: white;
  text-align: center;
  margin-bottom: -20px;
  line-height: 37px;;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mygamecanvas{
  width: 640px;
  height: 480px;
  border: 5px;
  border-color: #80fe80;
  border-style: groove;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  height: 100%;
}

.game-separator{
  height: 20px;
}

.text-game-separator{
  height: 10px;
}

.container img {
  margin-bottom: 20px;
}

#apfel-font{
  width: 900px;
	margin-bottom: -20px;
  line-height: 37px;;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-align: center;
}

#apfel-font a {
  color: white;
  text-decoration: none;
}

.separator
{
  height: 10px;
}

#apfel-font-alt {
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: -20px;
  line-height: 30px;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.5s, box-shadow 0.5s;
}

div#invisible
{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 500px;
  width: 50%;
  opacity:0;
}

#audio-element {
  display: none;
}

#apfel-font-alt a {
  text-decoration: none;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  10% {
    transform: translate(-2px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  30% {
    transform: translate(-2px, 0) rotate(-1deg);
  }
  40% {
    transform: translate(2px, 0) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  70% {
    transform: translate(0, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(0, -2px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 0) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}


#apfel-font-alt:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
  animation: shake 2s ease-in-out infinite;
}

#game-links:hover {
  opacity: 1;
  text-shadow: 0 0 10px #fff;
  animation: shake 2s ease-in-out infinite;
}

.secret {
  opacity: 0.01;
  transition: opacity 0.5s ease-in-out;
}

.secret:hover {
  opacity: 1;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-logo {
  opacity: 0.5;
  width: 40%;
  height: auto;
  transition: opacity 0.3s ease;
  margin: 0 0px;
}



.image-logo:hover {
  opacity: 1;
  filter: drop-shadow(0 0 10px white) brightness(150%);
  animation: glow 1s infinite alternate;
  animation: shake 2s ease-in-out infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px white) brightness(150%);
  }
  100% {
    filter: drop-shadow(0 0 20px white) brightness(150%);
  }
}



#apfel-font-bigger{
	font-size: 30px;
	margin-bottom: -30px;
  font-family: "CustomFont", sans-serif;
  color: white;
  text-align: center;
}